.top-actions {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 2em;
    margin: auto;
    box-sizing: border-box;

    .create {
        width: fit-content;
        padding: 0 2em;
    }

    .filter {
        width: fit-content;
    }
}


.articles {
    width: fit-content;
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    grid-gap: 2em;

    .item {
        cursor: pointer;
        background-color: whitesmoke;
        border-radius: 0.5em;
        padding: 1em;
        margin: auto;
        width: 90%;
        height: 90%;

        .content {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .item-infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em 0;
    }

    p {
        margin-bottom: 0;
    }
}

@media (max-width: 1024px) {
    .top-actions {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .top-actions {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .top-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .articles {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: auto;

        .item {
            padding: 1em;
            box-sizing: border-box;
            height: 12em;
            width: 20em;
        }
    }
}