<div>
    <button class="arrow_back" mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="image">
        <img src="../../../../assets/logo_p6.png" alt="logo">
    </div>

    <div>
        <h1>Se connecter</h1>
        <form class="field" [formGroup]="form" (ngSubmit)="submit()">
            <label for="email">E-mail</label>
            <mat-form-field appearance="outline">
                <input matInput type="email" formControlName="email">
            </mat-form-field>
            <label for="password">Mot de passe</label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="password">
            </mat-form-field>
            <button class="submit" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se
                connecter</button>
            <span *ngIf="onError" class="error ml2">Une erreur est survenue</span>
        </form>
    </div>
</div>