<div class="container">
    <button mat-icon-button class="arrow_back" routerLink="/post-list">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <h2>Créer un nouvel article</h2>
        <mat-form-field class="field" appearance="outline">
            <mat-select ngDefaultControl formControlName="topic" placeholder="Sélectionner un thème">
                <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
                    {{ topic.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <input matInput formControlName="title" placeholder="Titre de l'article">
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <textarea matInput rows="8" formControlName="content" placeholder="Contenu de l'article"></textarea>
        </mat-form-field>
        <button mat-raised-button class="button" color="primary" type="submit">Créer</button>
    </form>
</div>