<mat-toolbar class="desktop" *ngIf="!isHome()">
    <div>
        <img src="/assets/logo_p6.png" alt="MDD" width="100">
    </div>
    <div *ngIf="!isAuth()">
        <a mat-button routerLink="/post-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Articles</a>
        <a mat-button routerLink="/topic" routerLinkActive="active">Thèmes</a>
        <a mat-button routerLink="/profile" routerLinkActive="active"><mat-icon>account_circle</mat-icon></a>
    </div>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>