<div>
    <button mat-icon-button routerLink="/"><mat-icon>arrow_back</mat-icon></button>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Inscription</mat-card-title>
        </mat-card-header>
        <form [formGroup]="form">
            <mat-card-content class="formGroup">
                <label for="name">Nom d'utilisateur</label>
                <mat-form-field appearance="outline">
                    <input matInput id="name" formControlName="name">
                </mat-form-field>
                <label for="email">Adresse e-mail</label>
                <mat-form-field appearance="outline">
                    <input matInput id="email" formControlName="email">
                </mat-form-field>
                <label for="password">Mot de passe</label>
                <mat-form-field appearance="outline">
                    <input matInput id="password" formControlName="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" (click)="submit()">S'inscrire</button>
        </form>
    </mat-card>
</div>