<div>
    <button class="arrow_back" mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="image">
        <img src="../../../../assets/logo_p6.png" alt="logo">
    </div>

    <div>
        <h1>Inscription</h1>
        <form class="field" [formGroup]="form" (ngSubmit)="submit()">
            <label for="name">Nom d'utilisateur</label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="name">
            </mat-form-field>
            <label for="email">Adresse e-mail</label>
            <mat-form-field appearance="outline">
                <input matInput type="email" formControlName="email">
            </mat-form-field>
            <label for="password">Mot de passe</label>
            <mat-form-field class="password" appearance="outline">
                <input matInput formControlName="password">
            </mat-form-field>
            <button class="submit" mat-raised-button color="primary" type="submit"
                [disabled]="form.invalid">S'inscrire</button>
            <span *ngIf="form.get('password')?.hasError('pattern')">Le mot de passe doit avoir minimum 8
                caractères dont 1 chiffre, 1 lettre minuscule, 1 lettre majuscule, 1 caractère spécial.</span>
            <span *ngIf="onError" class="erro ml2">Une erreur est survenue</span>
        </form>
    </div>
</div>