<div class="post">
    <mat-card-title class="post-title">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>{{ post.title }}</h2>
    </mat-card-title>
    <mat-card-subtitle class="post-subtitle">
        <div class="post-subtitle-item">{{ post.created_at | date:'dd/MM/yyyy' }}</div>
        <div class="post-subtitle-item">{{ post.user.name | titlecase }}</div>
        <div class="post-subtitle-item">{{ post.topic.name | titlecase }}</div>
    </mat-card-subtitle>
    <mat-card-content class="content">
        <p>{{ post.content }}</p>
    </mat-card-content>
</div>

<div class="comments">
    <mat-card-title>
        <h3>Commentaires</h3>
    </mat-card-title>
    <div class="items" *ngIf="post?.comments?.length === 0; else comments">
        <p>Aucun commentaire</p>
    </div>
    <ng-template #comments>
        <div class="items" *ngFor="let comment of post?.comments">
            <p class="name">{{ comment.user.name | titlecase }}</p>
            <div class="comment">
                <p>{{ comment.content }}</p>
            </div>
        </div>
    </ng-template>

    <form class="form" *ngIf="commentForm" [formGroup]="commentForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
            <textarea matInput formControlName="content" placeholder="Écrivez ici votre commentaire" rows="4">
            </textarea>
        </mat-form-field>
        <button mat-icon-button class="button" color="primary" type="submit" [disabled]="commentForm.invalid">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>